.bsp/
.bloop/
.metals/
.scala-build/
out/
null/
node_modules/
test_images/
.DS_Store
yarn.lock
target/
project/project/
*.log
project/metals.sbt
.vscode/
package-lock.json
*.out


bundle.zip
bundle/*.css 
bundle/*.html
bundle/js/elodin*.js
bundle/js/elodin*.txt